{%  block navbar %}
    <div id="nav-bar" class="nav-bar">
        <div class="container">
            {% block nav_items %}
                <div class="nav-btn" onclick='navigateToScene("/")'>{{ trans("home-page") }}</div>
                <div class="nav-btn" onclick='navigateToScene("/tree")'>Tree Page</div>
            {% endblock %}
        </div>
    </div>
{% endblock %}