{% block post %}
    <div class="card post">
        <div class="card-body">
            <h4 class="card-title">
                {{ post.title }}
            </h4>
            <p class="card-text content">
                {{ post.content }}
            </p>
            <div class="footer">
                <div class="row">
                    <div class="col-md-6 date">
                        {{ post.dateTime }}
                    </div>
                    <div class="col-md-6 actions">
                        <a href="/post?id={{ post.id }}" class="btn btn-light">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}