{% block post %}
    <div class="card post">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}
                <small>{{ post.dateTime }}</small>
            </h4>
            <p class="card-text content">
                {{ post.content }}
            </p>
            <a href="/post?id={{ post.id }}" class="btn btn-primary">View</a>
        </div>
    </div>
{% endblock %}