{% extends "base.html.twig" %}

{% block title %}
    Admin panel
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="/web/assets/stylesheets/panel_page.css">
{% endblock %}

{% block header %}
    <header>
        {% embed 'default/nav_bar.html.twig' %}
            {% block nav_items %}
                {{ parent() }}
                {% if userLogged %}
                    <div class="nav-btn" onclick='navigateToScene("/admin")'>Posts</div>
                    <div class="nav-btn" onclick='navigateToScene("/admin/sections")'>Sections</div>
                    <div class="nav-btn" onclick='navigateToScene("/admin/logout")'>Logout</div>
                {% endif %}
            {% endblock %}
        {% endembed %}
    </header>
{% endblock %}