<div class="family-item">
    <a href="/tree?f={{ family.id }}">
        <div>
            <div class="thumbnail">
                <img src="/web/assets/images/avatar-placeholder.png">
            </div>
            <div class="label">
                {{ family.familyName ~ ' ' ~i }}
            </div>
        </div>
    </a>
</div>