{% extends 'admin/base_admin.html.twig' %}

{% block title %}
    {{ section.section }}
{% endblock %}

{% block body %}
    <section class="section-view">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <div>Title</div>
                                </div>
                                <div class="col-md-6 actions">
                                    {% block sectionAction %}
                                        <button onclick="window.location.href += '/edit'" class="btn btn-warning">Edit
                                        </button>
                                    {% endblock %}
                                </div>
                            </div>
                        </h4>
                        <div class="card-body">
                            {% block sectionName %}
                                {{ section.section }}
                            {% endblock %}
                        </div>
                        <h4 class="card-header">
                            Content
                        </h4>
                        <div class="card-body content">
                            {% block sectionContent %}
                                {{ section.content }}
                            {% endblock %}
                        </div>
                        <h4 class="card-header">
                            Image
                        </h4>
                        <div class="card-body">
                            {% block sectionImages %}
                                {% if section.images|length > 0 %}

                                {% endif %}
                            {% endblock %}
                        </div>
                        <div class="card-footer">
                            <div class="date">
                                {{ section.dateTime }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}