{% extends '/admin/post/post_view.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="/web/assets/stylesheets/dropzone.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/web/assets/scripts/plugins/dropzone.js"></script>
    <script type="text/javascript" src="/web/assets/scripts/new_post.js"></script>
{% endblock %}

 {% block postModified %}
     <div class="actions">
         <span><button class="btn btn-danger" onclick="window.history.back()">Cancel</button></span>
         <span><button class="btn btn-success" onclick="savePost()">Save</button></span>
     </div>
 {% endblock %}

{% block postTitle %}
    <input id="postTitle" type="text" placeholder="Insert title">
{% endblock %}

{% block postContent %}
    <textarea id="postContent" type="text" placeholder="Insert content" cols="1" rows="15"></textarea>
{% endblock %}

{% block postImage %}
    <h4 class="card-header">Images</h4>
    <div class="card-body">
        <form action="/admin/post/new/upload" class="dropzone"></form>
        {% if post.images|length > 0 %}
        {% endif %}
    </div>
{% endblock %}