body {
  font-family: 'Roboto', sans-serif;
  margin: 0; }

header {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(../images/background.JPG); }

section.marginned {
  margin-top: 64px; }

.nav-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #423322;
  text-align: center;
  z-index: 100;
  transition: 0.5s all;
  color: white; }
  .nav-bar.attach-top {
    position: fixed;
    top: 0;
    bottom: auto; }
  .nav-bar .container {
    position: relative;
    transition: 0.5s all; }
    .nav-bar .container .nav-btn {
      min-width: 50px;
      display: inline-block;
      padding: 20px 30px;
      vertical-align: middle; }
    .nav-bar .container .nav-btn:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5); }

.col-2 {
  display: inline-block;
  width: 19%; }

.col-8 {
  display: inline-block;
  width: 79%; }
