$primaryColor: #B4FF80;
$accentColor: #EBC0FF;
$secondaryColor: #1f1b10;
$secondaryAccentColor: #9C7BCC;
$backgroundColor: #D0E88B;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(../images/background.JPG);
}

section {
    &.marginned {
        margin-top: 64px;
    }
}

.nav-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $secondaryColor;
    text-align: center;
    z-index: 100;
    transition: 0.5s all;
    color: white;

    &.attach-top {
        position: fixed;
        top: 0;
        bottom: auto;
    }

    .container{
        position: relative;
        transition: 0.5s all;

        .nav-btn {
            min-width: 50px;
            display: inline-block;
            //line-height: 50px;
            padding: 20px 30px;
            vertical-align: middle;
        }

        .nav-btn:hover {
            cursor: pointer;
            background: rgba(0,0,0,0.5);
        }
    }
}

.col-2 {
    display: inline-block;
    width: 19%;
}

.col-8 {
    display: inline-block;
    width: 79%;
}