$primaryColor: #174732;
$accentColor: #775B3D;
$secondaryColor: #1f1b10;
$secondaryAccentColor: #F2F2E3;
//$backgroundColor: #D0E88B;
$backgroundColor: #D2F8BF;

.nav-bar {
    display: block;
}

header {
    height: 100vh;
    .img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #535a17;
        background-repeat: no-repeat;
        background-image: url(../images/background.JPG);
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

        .app-title {
            text-align: center;
            top: 35%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 50%;
            color: white;
            background: rgba(0, 0, 0, .4);
            font-size: 6em;
            transition: 0.5s all;
            font-family: 'Dancing Script', cursive;
            box-shadow: 0px 1px 30px black;

            &.attach-top {
                position: fixed;
                top: 0;
                bottom: auto;
            }

            @media screen and (max-width: 767px) {
                font-size: 4em;
                line-height: 2em;
            }

            @media screen and (max-width: 370px) {
                font-size: 2em;
                line-height: 4em;
            }
        }
    }
}

section {
    &.about {
        color: #423322;
        margin: 0 auto;
        min-height: 100%;
        padding-top: 10%;
        background: $backgroundColor;
        padding-bottom: 5%;

        @media screen and (max-width: 767px) {
            max-width: 100%;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .about-me {
            margin: auto;
            max-width: 60%;
            min-height: 50%;
            border-radius: 5px;
            padding: 5px;

            .title {
                font-size: 26px;
                text-align: center;
            }

            .image {
                text-align: center;

                div {
                    //max-height: 60px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 200px;
                    display: inline-block;

                    &.filled {
                        background-color: lightgray;
                        height: 200px;
                        width: 200px;
                    }
                }
            }

            .desc {
                text-align: center;
                margin: 20px 10px;
                min-height: 30px;
                font-size: 14px;
            }
        }
    }

    .index {
        margin: 0 auto;
        max-width: 60%;
        min-height: 100%;

        @media screen and (max-width: 767px) {
            max-width: 100%;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .posts {
            $paging-size: 50px;
            $max-container-size: 1050px;
            min-height: 50%;
            padding-bottom: 50px;
            //max-height: $max-container-size+$paging-size;

            .post {
                border: none;
                color: #423322;
                background: $secondaryAccentColor;
                margin-bottom: 20px;
                border-radius: 10px;

                .content {
                    $font-size: 14px;
                    $line-height: 1.4;
                    $lines-to-show: 5;

                    display: block; /* Fallback for non-webkit */
                    display: -webkit-box;
                    max-width: 100%;
                    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
                    margin: 0 auto;
                    font-size: $font-size;
                    line-height: $line-height;
                    -webkit-line-clamp: $lines-to-show;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .footer {
                    margin-top: 10px;

                    .date {
                        //color: #868e96!important;
                        color: rgba(0, 0, 0, 0.6) !important;
                        vertical-align: middle;
                    }

                    .actions {
                        vertical-align: middle;
                        text-align: right;

                        .btn {
                            &.btn-light {
                                border-color: $accentColor;
                                border-radius: 10px;

                                &:hover {
                                    color: white;
                                    background-color: $accentColor;
                                }
                            }
                        }
                    }
                }
            }

            .paging {
                text-align: right;
                height: $paging-size;

                nav {
                    display: inline-block;

                    .pagination {
                        .page-item {
                            &.active {
                                .page-link {
                                    background-color: $secondaryColor;
                                    border-color: $secondaryColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.intro {
        background: cadetblue;
    }

    &.posts {
        min-height: 60vh;
        background: $secondaryAccentColor;

        .transition {
            margin-right: 0;
            background: $backgroundColor;

            .triangle-bottomleft {
                width: 100%;
                height: 0;
                border-bottom: 150px solid $secondaryAccentColor;
                border-right: 100vh solid transparent;
            }

            @mixin drawTriangle($triangleHeight) {
                position: relative;
                height: $triangleHeight;
                margin-right: -15px;

                div {
                    background: $secondaryAccentColor;
                    height: $triangleHeight * 2;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    top: 0;
                    display: block;
                    -webkit-clip-path: polygon(0 50%, 100% 50%, 0 0);
                    transition: all 1s ease;
                }
            }

            .triangle {
                $triangleHeight: 100px;
                @include drawTriangle($triangleHeight);
            }
        }
        //box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0 -2px 5px 0 rgba(0, 0, 0, 0.5);
        //border-top: 2px solid rgba(0, 0, 0, 0.5);
        //border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }

    &.info {
        background: cornflowerblue;
    }

}