$primaryColor: #174732;
$accentColor: #EBC0FF;
$secondaryColor: #1f1b10;
$secondaryAccentColor: #9C7BCC;
$backgroundColor: #D0E88B;

.nav-bar {
    display: block;
}

section {
    .index {
        margin: 0 auto;
        max-width: 60%;
        min-height: 100vh;
        padding-top: 10%;

        .about-me {
            min-height: 50%;
            border-radius: 5px;
            padding: 5px;

            .title {
                font-size: 20px;
                text-align: center;
            }

            .image {
                max-height: 60px;
            }

            .desc {
                text-align: justify;
                margin: 10px;
                min-height: 30px;
                font-size: 18px;
            }
        }

        .posts {
            $paging-size: 50px;
            $max-container-size: 1050px;
            min-height: 50%;
            //max-height: $max-container-size+$paging-size;

            .post {
                color: white;
                background: $primaryColor;
                //margin: 5px;
                //border-radius: 6px;
                //padding: 10px;
                //min-height: 200px;
                margin-bottom: 10px;

                .content {
                    $font-size: 14px;
                    $line-height: 1.4;
                    $lines-to-show: 5;

                    display: block; /* Fallback for non-webkit */
                    display: -webkit-box;
                    max-width: 100%;
                    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
                    margin: 0 auto;
                    font-size: $font-size;
                    line-height: $line-height;
                    -webkit-line-clamp: $lines-to-show;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .footer {
                    margin-top: 10px;

                    .date {
                        //color: #868e96!important;
                        color: rgba(255,255,255,0.6)!important;
                        vertical-align: middle;
                    }

                    .actions {
                        vertical-align: middle;
                        text-align: right;
                    }
                }
            }

            .paging {
                text-align: right;
                height: $paging-size;

                nav {
                    display: inline-block;

                    .pagination {
                        .page-item {
                            &.active {
                                .page-link {
                                    background-color: $secondaryColor;
                                    border-color: $secondaryColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.intro {
        background: cadetblue;
    }

    &.posts {
        background: $backgroundColor;
    }

    &.info {
        background: cornflowerblue;
    }
}
