.nav-bar {
  display: block; }

section .index {
  margin: 0 auto;
  max-width: 60%;
  min-height: 100vh;
  padding-top: 10%; }
  section .index .about-me {
    min-height: 50%;
    border-radius: 5px;
    padding: 5px; }
    section .index .about-me .title {
      font-size: 20px;
      text-align: center; }
    section .index .about-me .image {
      max-height: 60px; }
    section .index .about-me .desc {
      text-align: justify;
      margin: 10px;
      min-height: 30px;
      font-size: 18px; }
  section .index .posts {
    min-height: 50%; }
    section .index .posts .post {
      color: white;
      background: #174732;
      margin-bottom: 10px; }
      section .index .posts .post .content {
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 100%;
        height: 98px;
        /* Fallback for non-webkit */
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.4;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; }
      section .index .posts .post .footer {
        margin-top: 10px; }
        section .index .posts .post .footer .date {
          color: rgba(255, 255, 255, 0.6) !important;
          vertical-align: middle; }
        section .index .posts .post .footer .actions {
          vertical-align: middle;
          text-align: right; }
    section .index .posts .paging {
      text-align: right;
      height: 50px; }
      section .index .posts .paging nav {
        display: inline-block; }

section.intro {
  background: cadetblue; }

section.posts {
  background: #D0E88B; }

section.info {
  background: cornflowerblue; }
