header {
  height: auto;
  background: none; }

.nav-bar {
  position: relative;
  top: 0;
  bottom: auto; }

.panel-page table tbody tr th, .panel-page table tbody tr td {
  vertical-align: middle; }

.post-page .card {
  margin-top: 5%; }
  .post-page .card .date {
    text-align: right;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.03); }
  .post-page .card .card-body input {
    border: none;
    width: 100%; }
    .post-page .card .card-body input:focus {
      outline-color: rgba(0, 0, 0, 0.1); }
  .post-page .card .description {
    min-height: 400px; }
    .post-page .card .description textarea {
      width: 100%;
      border: none; }
      .post-page .card .description textarea:focus {
        border: none;
        outline-color: rgba(0, 0, 0, 0.1); }
