header {
    height: auto;
    background: none;
}

.nav-bar {
    position: relative;
    top: 0;
    bottom: auto;
}

.panel-page {
    table {
        tbody {
            tr {
                th, td {
                    vertical-align: middle;
                }
            }
        }
    }
}

.post-page {

    .posts-container {
        margin-top: 5%;
    }

    .card {
        margin-top: 5%;
        margin-bottom: 5%;

        .date {
            text-align: right;
            margin-right: 10px;
            font-size: 16px;
        }

        .actions {
            padding: 5px;
            text-align: right;
            display: inline-block;
            background-color: rgba(0, 0, 0, .03);;
        }

        .card-body {
            input {
                border: none;
                width: 100%;

                &:focus {
                    outline-color: rgba(0, 0, 0, 0.1);
                }
            }

            .dropzone {
                border: none;
            }
        }
        .description {
            min-height: 400px;

            textarea {
                width: 100%;
                border: none;

                &:focus {
                    border: none;
                    outline-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

.section-view {
    .card {
        margin-top: 5%;
        margin-bottom: 5%;

        .card-header {
            .actions {
                text-align: right;
            }
        }

        .card-body {
            &.content {
                min-height: 300px;

                textarea {
                    width: 100%;
                    border: none;

                    &:focus {
                        border: none;
                        outline-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
}