header {
  height: auto;
  background: none; }

.nav-bar {
  position: relative;
  top: 0;
  bottom: auto; }

@media screen and (min-width: 1200px) {
  .panel-page .container {
    max-width: 95%; } }

.panel-page .posts-container {
  margin-top: 5%; }
  .panel-page .posts-container .posts-list {
    overflow: auto; }
    .panel-page .posts-container .posts-list table tbody tr th, .panel-page .posts-container .posts-list table tbody tr td {
      vertical-align: middle; }

.post-page .posts-container {
  margin-top: 5%; }

.post-page .card {
  margin-top: 5%;
  margin-bottom: 5%; }
  .post-page .card .date {
    text-align: right;
    margin-right: 10px;
    font-size: 16px; }
  .post-page .card .actions {
    padding: 5px;
    text-align: right;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.03); }
  .post-page .card .card-body input {
    border: none;
    width: 100%; }
    .post-page .card .card-body input:focus {
      outline-color: rgba(0, 0, 0, 0.1); }
  .post-page .card .card-body .dropzone {
    border: none; }
  .post-page .card .description {
    min-height: 400px; }
    .post-page .card .description textarea {
      width: 100%;
      border: none; }
      .post-page .card .description textarea:focus {
        border: none;
        outline-color: rgba(0, 0, 0, 0.1); }

@media screen and (min-width: 1200px) {
  .section-page .container {
    max-width: 95%; } }

.section-page .container .sections-container {
  margin-top: 5%;
  overflow: auto; }

.section-view .card {
  margin-top: 5%;
  margin-bottom: 5%; }
  .section-view .card .card-header .actions {
    text-align: right; }
  .section-view .card .card-body.content {
    min-height: 300px; }
    .section-view .card .card-body.content textarea {
      width: 100%;
      border: none; }
      .section-view .card .card-body.content textarea:focus {
        border: none;
        outline-color: rgba(0, 0, 0, 0.1); }
  .section-view .card .card-body input {
    border: none;
    width: 100%; }
    .section-view .card .card-body input:focus {
      outline-color: rgba(0, 0, 0, 0.1); }
  .section-view .card .card-body .dropzone {
    border: none;
    min-height: 300px; }
  .section-view .card .card-footer .date {
    color: #868e96 !important; }
