$primaryColor: #174732;
$accentColor: #EBC0FF;
$secondaryColor: #1f1b10;
$secondaryAccentColor: #9C7BCC;
$backgroundColor: #D2F8BF;

body{
    background: $backgroundColor;
}

header {
    height: auto;
    background: none;
}

.nav-bar {
    position: fixed;
    top: 0;
    bottom: auto;
}

.post-view-page {
    .card {
        background: #F2F2E3;
        margin-top: 15%;
        margin-bottom: 10%;
        
        @media screen and (max-width: 767px) {
            margin-top: 30%;
        }

        .card-body {
            .content {
                min-height: 400px;
            }
        }

        .card-footer {
            .author {
                text-align: right;
            }
        }
    }
}
