body {
  background: #D2F8BF; }

header {
  position: relative;
  height: 30vh; }
  header .img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #535a17;
    background-repeat: no-repeat;
    background-image: url(../images/background.JPG); }
    header .img .app-title {
      text-align: center;
      top: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      font-size: 6em;
      transition: 0.5s all;
      font-family: 'Dancing Script', cursive; }
      header .img .app-title.attach-top {
        position: fixed;
        top: 0;
        bottom: auto; }
      @media screen and (max-width: 767px) {
        header .img .app-title {
          font-size: 4em;
          line-height: 2em; } }
      @media screen and (max-width: 370px) {
        header .img .app-title {
          font-size: 2em;
          line-height: 4em; } }

.nav-bar.fixed {
  position: fixed;
  top: 0;
  bottom: auto; }

section.post-view-page .card {
  border-radius: 10px;
  background: whitesmoke;
  margin-top: 15%;
  margin-bottom: 10%;
  border: none;
  box-shadow: none; }
  @media screen and (max-width: 767px) {
    section.post-view-page .card {
      margin-top: 30%; } }
  section.post-view-page .card .card-header:first-child {
    border-radius: calc(10px - 1px) calc(10px - 1px) 0 0; }
  section.post-view-page .card .card-body .content {
    min-height: 50vh; }
  section.post-view-page .card .card-footer:last-child {
    border-radius: 0 0 calc(10px - 1px) calc(10px - 1px); }
  section.post-view-page .card .card-footer .author {
    text-align: right; }
