body {
  background: #D2F8BF; }

header {
  height: auto;
  background: none; }

.nav-bar {
  position: relative;
  top: 0;
  bottom: auto; }

.post-view-page .card {
  background: #F2F2E3;
  margin-top: 10%; }
  .post-view-page .card .card-body .content {
    min-height: 400px; }
  .post-view-page .card .card-footer .author {
    text-align: right; }
