body {
  background: #D2F8BF; }

header {
  position: relative;
  height: 30vh; }
  header .img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #535a17;
    background-repeat: no-repeat;
    background-image: url(../images/background.JPG);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5); }
    header .img .app-title {
      text-align: center;
      top: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      font-size: 6em;
      transition: 0.5s all;
      font-family: 'Dancing Script', cursive; }
      header .img .app-title.attach-top {
        position: fixed;
        top: 0;
        bottom: auto; }
      @media screen and (max-width: 767px) {
        header .img .app-title {
          font-size: 4em;
          line-height: 2em; } }
      @media screen and (max-width: 370px) {
        header .img .app-title {
          font-size: 2em;
          line-height: 4em; } }

.nav-bar.fixed {
  position: fixed;
  top: 0;
  bottom: auto; }

section.post-view-page .container {
  min-height: 100vh;
  background: #F2F2E3; }
  section.post-view-page .container .content {
    margin: 2rem 0; }
    section.post-view-page .container .content .timestamp-user {
      color: #6c757d; }
    section.post-view-page .container .content p:not(:first-child):not(.timestamp-user) {
      margin: 20px;
      font-size: 15px; }
