$primaryColor: #174732;
$accentColor: #EBC0FF;
$secondaryColor: #1f1b10;
$secondaryAccentColor: #9C7BCC;
$backgroundColor: #D2F8BF;

body {
    background: $backgroundColor;
}

//header {
//    height: auto;
//    background: none;
//}
header {
    position: relative;
    height: 30vh;
    .img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #535a17;
        background-repeat: no-repeat;
        background-image: url(../images/background.JPG);

        .app-title {
            text-align: center;
            top: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            color: white;
            background: rgba(0, 0, 0, .4);
            font-size: 6em;
            transition: 0.5s all;
            font-family: 'Dancing Script', cursive;

            &.attach-top {
                position: fixed;
                top: 0;
                bottom: auto;
            }

            @media screen and (max-width: 767px) {
                font-size: 4em;
                line-height: 2em;
            }

            @media screen and (max-width: 370px) {
                font-size: 2em;
                line-height: 4em;
            }
        }
    }
}

.nav-bar{
    &.fixed {
        position: fixed;
        top: 0;
        bottom: auto;
    }
}

section {

    &.post-view-page {
        $cardRadius: 10px;

        .card {
            border-radius: $cardRadius;
            background: whitesmoke;
            margin-top: 15%;
            margin-bottom: 10%;
            border: none;
            box-shadow: none;

            @media screen and (max-width: 767px) {
                margin-top: 30%;
            }

            .card-header {
                &:first-child {
                    border-radius: calc(#{$cardRadius} - 1px) calc(#{$cardRadius} - 1px) 0 0;
                }
            }

            .card-body {
                .content {
                    min-height: 50vh;
                }
            }

            .card-footer {

                &:last-child {
                    border-radius: 0 0 calc(#{$cardRadius} - 1px) calc(#{$cardRadius} - 1px);
                }

                .author {
                    text-align: right;
                }
            }
        }
    }
}
