$primaryColor: #174732;
$nodeColor: #D2F8BF;
$connectionColor: #423322;

header {
    height: auto;
    background: none;
}

body {
    background-color: beige;
}

.nav-bar {
    position: fixed;
    top: 0;
    bottom: auto;
}

.tree-playground {
    height: 100vh;

    .table {
        table-layout: fixed;

        tbody {
            & tr {

                & td {
                    word-wrap: break-word;
                    width: 170px;
                    height: 170px;
                    padding: 0 !important;
                    border-top: none;
                }
            }
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .person-item {
        background: red;
        padding: 10px;
        list-style-type: none;

        img {
            box-shadow: 0 0 4px;
            width: 40px;
            height: 40px;
            border-radius: 30px;
            background: blue
        }
    }

    .family-manager {
        position: fixed;
        right: 0;
        bottom: 0;
        top: 60px;
        background-color: #0056b3;

        .person-container {
            height: 85vh;
            overflow: auto;

            ul {
                overflow: auto;
                height: 100%;
                margin: 0 auto;
                list-style: none;

                li {
                    width: inherit;
                    padding: 15px 20px;
                    -webkit-transition: transform .25s ease-in-out;
                    -moz-transition: transform .25s ease-in-out;
                    -o-transition: transform .25s ease-in-out;
                    transition: transform .25s ease-in-out;

                    -webkit-transition: box-shadow .25s ease-in-out;
                    -moz-transition: box-shadow .25s ease-in-out;
                    -o-transition: box-shadow .25s ease-in-out;
                    transition: box-shadow .25s ease-in-out;

                    &.person-item {
                        background: red;
                        padding: 10px;
                        margin-top: 10px;
                    }

                    .dragging {
                        visibility: hidden;
                    }

                    & .ui-state-highlight {
                        height: 1.5em;
                        line-height: 1.2em;
                    }
                }
            }
        }

        .connection-container {
            height: 20%;
            overflow: auto;

            ul {
                overflow: auto;
                height: 100%;
                margin: 0 auto;
                list-style: none;
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }

    .tree-container {
        width: 100%;
        height: 100%;
        padding: 5px;

        &.no-padding {
            padding: 0;
        }

        .person-item {
            display: inline-block;
            background: $nodeColor;
            box-shadow: 1px 1px 4px;
            width: 100%;
            height: 100%;
            padding: 10px;
            border-radius: 10px;
            position: relative;

            .content {
                font-size: 14px;
                text-align: center;
            }

            &.editable {
                &:hover > .left-dot {
                    display: inline-block;
                    background: orange;
                    border-radius: 20px;
                    padding: 10px;
                }

                &:hover > .top-dot {
                    display: inline-block;
                    background: orange;
                    border-radius: 20px;
                    padding: 10px;
                }

                &:hover > .bottom-dot {
                    display: inline-block;
                    background: orange;
                    border-radius: 20px;
                    padding: 10px;
                }

                &:hover > .right-dot {
                    display: inline-block;
                    background: orange;
                    border-radius: 20px;
                    padding: 10px;
                }
            }

            &.selected {
                background: olive;
            }

            &:not(.selected).ghost-over {
                background: skyblue;
            }

            .left-dot {
                display: none;
                position: absolute;
                left: -10px;
                top: 45%;
            }

            .top-dot {
                display: none;
                position: absolute;
                left: 45%;
                top: -10px;
            }

            .bottom-dot {
                display: none;
                position: absolute;
                left: 45%;
                bottom: -10px;
            }

            .right-dot {
                display: none;
                position: absolute;
                top: 45%;
                right: -10px;
            }
        }

        li {
            list-style: none;
        }

        .connection-type-horizontal {
            display: inline-block;
            width: 50%;
            height: 2px;
            background: $connectionColor;

            &:hover {
                height: 4px;
                background: darkgoldenrod;
            }

            &.hovered {
                height: 4px;
                background: darkgoldenrod;
            }

            &.centered {
                margin-top: 55%;
            }

            &.fill {
                width: 100%;
            }

            &.righted {
                margin-left: 50%;
                margin-bottom: 15px;
            }
        }

        .connection-type-vertical {
            display: inline-block;
            width: 2px;
            height: 55%;
            background: $connectionColor;
            margin-left: 50%;
            line-height: 0;
            margin-bottom: -8px;
            margin-top: -8px;

            &:hover {
                width: 4px;
                background: darkgoldenrod;
            }

            &.hovered {
                width: 4px;
                background: darkgoldenrod;
            }

            &.fill {
                height: 100%;
            }
        }
    }
}

.fill {
    height: 100%;
}
