$primaryColor: #174732;
$accentColor: #EBC0FF;
$secondaryColor: #1f1b10;
$secondaryAccentColor: #9C7BCC;
$backgroundColor: #D2F8BF;

body {
    background: white;
}

header {
    height: auto;
    background: none;
}

.trees-page {
    h3:first-of-type {
        margin-top: 5%;
        text-align: center;
    }

    & .container {
        transition: .5s all;

        @media screen and (min-width: 1200px) {
            max-width: 95%;
        }

        .card {
            margin-top: 5%;
            margin-bottom: 5%;

            .date {
                text-align: right;
                margin-right: 10px;
                font-size: 16px;
            }

            .actions {
                padding: 5px;
                text-align: right;
                display: inline-block;
                background-color: rgba(0, 0, 0, .03);
            }

            .card-body {
                input {
                    border: none;
                    width: 100%;

                    &:focus {
                        outline-color: rgba(0, 0, 0, 0.1);
                    }
                }

                .dropzone {
                    border: none;
                }
            }
            .description {
                min-height: 400px;

                textarea {
                    width: 100%;
                    border: none;

                    &:focus {
                        border: none;
                        outline-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
}

.new-member-page {
    & .container {
        transition: .5s all;

        @media screen and (min-width: 1200px) {
            max-width: 95%;
        }

        .card {
            margin-top: 5%;
            margin-bottom: 5%;

            .card-body {
                input[type=text], input[type=date] {
                    width: 100%;
                    border-radius: 5px;
                    border: 1px inset rgba(0, 0, 0, .2);
                    padding-left: .5rem;
                    padding-right: .5rem;
                }

                select {
                    width: 100%;
                }

                textarea {
                    width: 100%;
                    min-height: 200px;
                }
            }

            .card-footer {
                text-align: right;
            }
        }
    }
}

.nav-bar {
    position: relative;
    top: 0;
    bottom: auto;
}

#membersContainer {
    height: 100%;
    min-height: 400px;
    overflow: auto;
    max-height: 500px;

    @media screen and (min-width: 767px) {
        border-right: 1px dashed rgba(0, 0, 0, 0.2);
    }

    ul {
        padding-left: 1rem;
        li {
            span {
                cursor: pointer;

                transition: .3s all;
                &:hover {
                    padding: 5px;
                    border-radius: .5rem;
                    background-color: rgba(0, 0, 0, .5);
                }
            }
        }
    }

    .member-progress {
        transition: 0.3s all;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: white;
        z-index: 50;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        align-items: center;
        border-right: 1px dashed rgba(0, 0, 0, 0.2);

        .progress {
            max-width: 50%;
            margin: auto;
            background-color: lightgray;

            .indeterminate {
                background-color: $primaryColor;
            }
        }
    }
}

#rightContainer {
    input[type=text], input[type=date] {
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 4px;
        padding: 0 5px;
    }

    select {
        width: 100%;
    }

    .description-container {
        width: 100%;

        textarea {
            min-height: 50px;
            width: 100%;
            border-radius: .2rem;
        }
    }

    .bottom-actions {
        div:first-of-type {
            text-align: left;
        }

        div:last-of-type {
            text-align: right;
        }
    }

    .details-progress {
        transition: 0.3s all;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: white;
        z-index: 50;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        align-items: center;
        border-right: 1px dashed rgba(0, 0, 0, 0.2);

        .progress {
            max-width: 50%;
            margin: auto;
            background-color: lightgray;

            .indeterminate {
                background-color: $primaryColor;
            }
        }
    }
}