{% extends 'base.html.twig' %}

{% block header %}
    <div id="nav-bar" class="nav-bar">
        <div class="container">
            {% block navbar %}
                <div class="nav-btn">{{ 'home.page'|trans }}</div>
                <div class="nav-btn">{{ 'tree.page'|trans }}</div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="posts">
        <div class="index">
            <aside class="col-2">
                <div class="about-me">
                    <div class="title">
                        O mnie
                    </div>
                    <div class="image">
                        Image
                    </div>
                    <div class="desc">
                        Desc
                    </div>
                </div>
            </aside>
            <div class="col-8">

            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('stylesheets/index.css') }}"
{% endblock %}
