<ul>
    {% for familyMember in familyMembers %}
        <li>
            <span onclick="loadSelectedMemberToView({{ familyMember.id }})">{{ familyMember.firstName }} {{ familyMember.lastName }}</span>
        </li>
    {% endfor %}
</ul>