<div class="left-dot"></div>
<div class="right-dot"></div>
<div class="top-dot"></div>
<div class="bottom-dot"></div>
<div id="container_img_{{ id }}" style="height: 50%; text-align: center;">
    <img>
</div>
<div id="container_{{ id }}" style="height: 50%; line-height: 1;">
    <label style="margin-bottom: 0;">{{ data }}</label>
    <div style="font-size: 14px; margin-bottom: 0;">00.00.0000</div>
    <div style="font-size: 14px; margin-bottom: 0;">00.00.0000</div>
</div>