body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    height: 100vh;
    background: cadetblue;
}

.nav-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: yellow;
    text-align: center;

    .container{
        position: relative;

        .nav-btn {
            min-width: 50px;
            display: inline-block;
            //line-height: 50px;
            padding: 20px 30px;
            vertical-align: middle;
        }

        .nav-btn:hover {
            cursor: pointer;
            background: rgba(0,0,0,0.5);
        }
    }
}

.col-2 {
    display: inline-block;
    width: 19%;
}

.col-8 {
    display: inline-block;
    width: 79%;
}