.nav-bar {
    display: block;
}

section {
    .index {
        margin: 0 auto;
        max-width: 80%;
        min-height: 100vh;

        .about-me{
            background: paleturquoise;

            .title{
                text-align: center;
            }

            .image{
                max-height: 60px;
            }

            .desc{
                min-height: 30px;
            }
        }
    }

    &.intro {
        background: cadetblue;
    }

    &.posts {
        background: goldenrod;
    }

    &.info {
        background: cornflowerblue;
    }
}
