.nav-bar{
    display: block;
}

.index {
    section {
        min-height: 100vh;

        &.intro{
            background: cadetblue;
        }

        &.posts {
            background: goldenrod;
        }

        &.info{
            background: cornflowerblue;
        }
    }
}
