.nav-bar {
  display: block; }

section .index {
  margin: 0 auto;
  max-width: 80%;
  min-height: 100vh; }
  section .index .about-me {
    background: paleturquoise; }
    section .index .about-me .title {
      text-align: center; }
    section .index .about-me .image {
      max-height: 60px; }
    section .index .about-me .desc {
      min-height: 30px; }

section.intro {
  background: cadetblue; }

section.posts {
  background: goldenrod; }

section.info {
  background: cornflowerblue; }
