.nav-bar {
  display: block; }

.index section {
  min-height: 100vh; }
  .index section.intro {
    background: cadetblue; }
  .index section.posts {
    background: goldenrod; }
  .index section.info {
    background: cornflowerblue; }
