{% extends 'admin/base_admin.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block body %}
    <section class="section-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sections-container">
                        {# {% include 'admin/section/section_list.html.twig' %} #}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}