<div class="left-dot"></div>
<div class="right-dot"></div>
<div class="top-dot"></div>
<div class="bottom-dot"></div>
<div class="content" onclick="nodeAction({{:id}}, false)">
    <div style="text-align: center; margin-top: 25%">
        {{if image.length > 0}}
        <img src="{{:image[0].image}}">
        {{else}}
        <img src="web/assets/images/avatar-placeholder.png">
        {{/else}}
    </div>
    <div style="height: 50%; line-height: 1; margin-top: 10%;">
        <label style="margin-bottom: 0;">{{:firstName}} {{:lastName}}</label>
        <div style="font-size: 14px; margin-bottom: 0;">{{:birthDate}}</div>
        <div style="font-size: 14px; margin-bottom: 0;">{{:deathDate}}</div>
    </div>
</div>